.css-qpq9bu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 10px;
}


.fixed-table tr,.fixed-table td{
        white-space: nowrap;
}
.hidden{display: none!important;}